
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.connection-state-buttons{
    margin-bottom: 30px;
}

.scroll-speed-wrapper{
    /* margin-bottom: 20px;
    gap: 10px */
    flex-grow: 1;
    align-items: flex-end;
    max-width: 500px;

}
.input-group{
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    gap: 50px;
}

.status-indicators {
    margin-bottom: 20px;
    /* display: flex; */
    gap: 10px;
}

.toggle-group{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.direction-toggle {
    display: flex;
    align-items: center;
    gap: -0px;
}

input[type="checkbox"]{
    accent-color: #007bff;
}

.toggle-item{
    display: flex;
    align-items: center;
    gap: 1px;
    /* margin-bottom: 20px; */
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:active {
    transform: scale(0.98);
}

.status-indicators p {
    color: #333333;
}

#sound-toggle.off {
    background-color: #6c757d;
}

#auto-scroll-toggle.off {
    background-color: #6c757d;
}

/* connecting */
.connecting-button{
    /* position: absolute;
    top: 10px;
    left: 10px; */
    text-align: center;
    /* width: 80px;
    height: 35px; */
    background-color: #d3a248;
    color: white;
    font-size: 16px;    
}
/* Connected state */
.connected-button{
    /* position: absolute;
    top: 10px;
    left: 10px; */
    text-align: center;
    /* width: 80px;
    height: 35px; */
    background-color: #37c548;
    color: white;
    font-size: 16px;    
}